body {
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.left {
	float: left;
	width: 50vw;
}

.right {
	float: right;
	width: 50vw;
}

button {
	margin: 0 5px 20px 5px;
	padding: 10px 20px;
	font-size: 1.5em;
}

textarea .steps {
	width: auto;
}

textarea .output {
	width: 100%;
}
